# <center> ESTATÍSTICA APLICADA </center>

# <center>  Lista de exercícios 8A </center>

# <center>  José Silvestre da Silva Galvão </center>

### <center> Questão 1 </center>

A- Altura do balão seria quantitativa, pois altura é uma caracteristica que dá pra contar, sendo assim uma ***variável quantitativa discreta.***

B- A capacidade também seria quantitativa, pois dá para pesar a média de coisas que dá para transportar.

C- A cor dos olhos é uma caracteristica/variável qualitativa, pois os olhos dão qualidades e ***não dá pra fazer calculo*** com a cor dos olhos.

D- O número de identidade é qualitativa, pois os números não apresentam um valor, e sim uma caracteristica do documento. ***Uma variável qualitativa ordinal***, pois vai representar a ordem q cada identidade foi feita.

E- Qualitativa, pois cada pessoa vai ter uma opinião diferente.

### <center> Questão 2 </center>

**A)** O sexo é uma variável qualitativa nominal, pois não existe nenhum valor de quantidade.

A materia preferida seria quanlitativa ordinal, pois podemos fazer a observação de qual matéria os alunos preferem mais.

A nota seria quantitativa discreta, pois com os dados obitidos dá para fazer uma media de acertos/erros na turma.

**B)**

In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv("C:/Users/joses/Dropbox/PC/Downloads/Planilha sem título - Página1.csv")

In [32]:
df

   SEXO PREDILETA  NOTA
0     F         H     5
1     M         M     8
2     F         P     8
3     F         H     6
4     M         C     5
5     M         H     6
6     F         M     8
7     F         P     4
8     F         H     2
9     M         C     6
10    F         P     8
11    M         M     2
12    M         G     4
13    M         G     9
14    M         M     7
15    M         M     1
16    F         P     8
17    F         G     5
18    M         G     9
19    M         P     5
20    F         M     8
21    F         G     6
22    M         H     3
23    M         M     5
24    F         P     5
25    F         G     5
26    M         C     7
27    M         H     4
28    F         M     7
29    F         P     7
30    F         M     6
31    M         G     6
32    M         H     9
33    F         M     8
34    M         P     5
35    M         G     6
36    F         M     7
37    M         P     5
38    F         M     5
39    F         M     5
40    F         P     9
41    M         M     8

In [33]:
df['SEXO'].value_counts()

F    21
M    21
Name: SEXO, dtype: int64

Relação de frequência relativa da variável 'SEXO'.

In [34]:
df['SEXO'].value_counts(normalize=True)*100

F    50.0
M    50.0
Name: SEXO, dtype: float64

Relação de frequência absoluta da variável 'PREDILETA'.

In [35]:
df['PREDILETA'].value_counts()

M    14
P    10
G     8
H     7
C     3
Name: PREDILETA, dtype: int64

Relação de frequência relativa da variável 'PREDILETA'.

In [36]:
df['PREDILETA'].value_counts(normalize=True)*100

M    33.333333
P    23.809524
G    19.047619
H    16.666667
C     7.142857
Name: PREDILETA, dtype: float64

Relação de frequência absoluta da variável 'NOTA'.

In [37]:
df['NOTA'].value_counts()

5    11
8     8
6     7
7     5
9     4
4     3
2     2
1     1
3     1
Name: NOTA, dtype: int64

Relação de frequência relativa da variável 'NOTA'.

In [38]:
df['NOTA'].value_counts(normalize=True)*100

5    26.190476
8    19.047619
6    16.666667
7    11.904762
9     9.523810
4     7.142857
2     4.761905
1     2.380952
3     2.380952
Name: NOTA, dtype: float64

### <center> Questão 3 </center>

**A)**

**PAP**: Qualitativo nominal, pois dá a qualidade a familia, se elas estão inseridos no programa ou não.

**GI**: Qualitativo ordinal, dá a qualidade do chefe familiar de ter algum grau de escolaridade, ou não.

**RES**: É um exemplo de quantitativo discreto, pois se refere a quantidade de pessoas que vivem na residência.

**RENDA**: Quantitativo continuo, se refere a quanto a familia ganha (dinheiro), por mês.

**B)**

In [39]:
df = pd.read_csv("C:/Users/joses/Dropbox/PC/Downloads/3B.csv")
df

    Ident.  PAP  GI  RES RENDA
0        1    0   3    4  10,3
1        2    0   3    4  15,4
2        3    1   2    4   9,6
3        4    0   2    5   5,5
4        5    1   3    4     9
5        6    1   1    1   2,4
6        7    0   2    2   4,1
7        8    1   3    3   8,4
8        9    1   6    6  10,3
9       10    1   4    4   4,6
10      11    0   6    6  18,6
11      12    1   4    4   7,1
12      13    0   4    4  12,9
13      14    0   6    6   8,4
14      15    0   3    3  19,3
15      16    0   5    5  10,4
16      17    1   3    3   8,9
17      18    0   4    4  12,9
18      19    0   4    4   5,1
19      20    1   4    4  12,2
20      21    1   3    5   5,8
21      22    1   3    5  12,9
22      23    0   3    5   7,7
23      24    0   2    4   1,1
24      25    0   2    8   7,5
25      26    1   3    4   5,8
26      27    1   1    5   7,2
27      28    0   3    3   8,6
28      29    1   2    4   5,1
29      30    0   3    5   2,6
30      31    1   3    5   7,7
31      32    1   2    2   2,4
32      33    1   3    5   4,8
33      34    1   1    2   2,1
34      35    1   1    6     4
35      36    1   1    8  12,5
36      37    1   3    3   6,8
37      38    1   3    5   3,9
38      39    1   3    5     9
39      40    1   3    3  10,9

Frequência absoluta da variável 'PAP'.

In [40]:
df['PAP'].value_counts()

1    24
0    16
Name: PAP, dtype: int64

Frequência relativa da variável 'PAP'.

In [41]:
df['PAP'].value_counts(normalize=True)*100

1    60.0
0    40.0
Name: PAP, dtype: float64

Frequência absoluta da variável 'GI'.

In [42]:
df['GI'].value_counts()

3    18
2     7
4     6
1     5
6     3
5     1
Name: GI, dtype: int64

Frequência relativa da variável 'GI'.

In [43]:
df['GI'].value_counts(normalize=True)*100

3    45.0
2    17.5
4    15.0
1    12.5
6     7.5
5     2.5
Name: GI, dtype: float64

Frequência absoluta da variável 'RES'.

In [44]:
df['RES'].value_counts()

4    13
5    11
3     6
6     4
2     3
8     2
1     1
Name: RES, dtype: int64

Frequência relativa da variável 'RES'.

In [45]:
df['RES'].value_counts(normalize=True)*100

4    32.5
5    27.5
3    15.0
6    10.0
2     7.5
8     5.0
1     2.5
Name: RES, dtype: float64

Frequência absluta da variável 'RENDA'.

In [46]:
df['RENDA'].value_counts()

12,9    3
2,4     2
10,3    2
9       2
5,1     2
5,8     2
7,7     2
8,4     2
4       1
8,6     1
2,1     1
4,6     1
3,9     1
18,6    1
15,4    1
4,8     1
9,6     1
4,1     1
2,6     1
19,3    1
10,9    1
12,2    1
12,5    1
5,5     1
8,9     1
10,4    1
1,1     1
6,8     1
7,1     1
7,5     1
7,2     1
Name: RENDA, dtype: int64

Frequência relativa da variável 'RENDA'.

In [47]:
df['RENDA'].value_counts(normalize=True)*100

12,9    7.5
2,4     5.0
10,3    5.0
9       5.0
5,1     5.0
5,8     5.0
7,7     5.0
8,4     5.0
4       2.5
8,6     2.5
2,1     2.5
4,6     2.5
3,9     2.5
18,6    2.5
15,4    2.5
4,8     2.5
9,6     2.5
4,1     2.5
2,6     2.5
19,3    2.5
10,9    2.5
12,2    2.5
12,5    2.5
5,5     2.5
8,9     2.5
10,4    2.5
1,1     2.5
6,8     2.5
7,1     2.5
7,5     2.5
7,2     2.5
Name: RENDA, dtype: float64